* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 30vh;
    width: 100%;
}

div {
    background-color: white;
}

#logo {
    padding-top: 1rem;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#header-h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 90px;
    color: transparent;
    background-image: linear-gradient(#f9a000, #f47c33, #ef5966, #a53f5b, #592651, #302144);
    background-clip: text;
}
 #dimensions, #comparable, #div5 {
    margin-top: 15%;
    text-align: center;
    width: 100%;

    h1{
        font-size: 60px;
    }
    p {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 40px;
    }
}

#materials{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25%;
    background-image: url(/img/psyche-surface.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3rem;
}

#inner-materials, #inner-features, #inner-dimensions, #inner-comparable, #inner-explore {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #f47c33;
    border-radius: 3rem;
    margin-right: auto;
    margin-left: auto;
    h1{
        padding-top: 5%;
        font-size: 60px;
    }

    p{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 40px;
    }
}

#inner-explore p {
    padding-bottom: 10% !important;
}

#features {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    border-radius: 3rem;
    background-image: url(/img/craters.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#dimensions {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    border-radius: 3rem;
    background-image: url(/img/psyche-wide.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#comparable {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    border-radius: 3rem;
    background-image: url(/img/swiss-map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#surface-img, #wide-img, #swiss-flag {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#comparable h3 {
    border-bottom: solid 5px red;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    font-size: 50px;
}

#comparable h4 {
    font-size: 40px;
}

#explore{
    background-color: black;
    height: 100vh;
    margin-bottom: 30vh;
    
}

#psyche-container {
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    height: 50vh; /* Adjust height dynamically */
    margin: 0 auto; /* Center horizontally */
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5%;
    z-index: 1;
    background-color: black;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from
    {
        --angle: 0deg;
    } 
    to
    {
        --angle:360deg;
    }
}

#psyche-container::after, #psyche-container::before {
    
    content: '';
    position: absolute;
    height: 105%;
    width: 105%;
    background-color: black;
    /*background-image: conic-gradient(from var(--angle), transparent, transparent, #f9a000, #a53f5b);*/
    background-image: conic-gradient(from var(--angle), transparent, transparent, #f9a000, #f47c33, transparent, transparent, #ef5966, #a53f5b, #592651, #302144, #f9a000);
    z-index: -1;
    padding: 1px;
    animation: 4s spin linear infinite;
    overflow: hidden;
    border-radius: 5rem;
}

#psyche-container::before {
    filter: blur(3.5rem);
    opacity: 0.7;
}


footer {
    margin-top: 10%;
    text-align: center;
    color: white;
}



@keyframes colorChange{
    0% {
        color: gold;
    }
    25% {
        color: goldenrod;
    }
    50% {
        color: gray;
    }
    75% {
        color: goldenrod;
    }
    100% {
        color: gold;
    }
}